
@{
    ViewBag.Title = "Index";
}

<main class="grid grid-cols-12 gap-5 mt-5">
    <section class="col-span-2 bg-[#1e3140] flex flex-col gap-y-2 items-stretch">
        <a href="/admin/add_driver" class="py-2 text-center bg-[#1e3140] hover:translate-x-5  transition-transform duration-100">
            Add Driver
        </a>
        <a href="/admin/add_surgeon" class="py-2 text-center bg-[#1e3140] hover:translate-x-5 transition-transform duration-100">
            Add Police
        </a>
        <a href="/admin/rules" class="py-2 text-center bg-[#1e3140] hover:translate-x-5 transition-transform duration-100">
            Update Rules
        </a>
        <a href="/admin/driver_list" class="py-2 text-center bg-[#1e3140] hover:translate-x-5 transition-transform duration-100">
            Update Driver Information
        </a>
        <a href="/admin/surgeon_list" class="py-2 text-center bg-[#1e3140] hover:translate-x-5 transition-transform duration-100">
            Update Police Information
        </a>
        <a href="/admin/report" class="py-2 text-center bg-[#1e3140] hover:translate-x-5 transition-transform duration-100">
            View Emergency Report
        </a>
    </section>
    <section class="col-span-8 flex gap-10"">
        <div class="relative w-3/5">
            <h3>Total Offence in Week</h3>
            <canvas id="lineChart"></canvas>
        </div>
        <div class="relative w-3/5">
            <h3>Total Offence in Week By Category</h3>
            <canvas id="radarChart"></canvas>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
    <script>
        const days = ['monday', 'tuesday', 'wednesday', 'thursday',
            'friday', 'saterday', 'sunday'];
        var goBackDays = 7;

        var today = new Date();
        var daysSorted = [];

        for (var i = 0; i < goBackDays; i++) {
            var newDate = new Date(today.setDate(today.getDate() - 1));
            daysSorted.push(days[newDate.getDay()]);
        }
        const ctx = document.getElementById("lineChart").getContext("2d");
        const myChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: daysSorted.reverse(),
                datasets: [
                    {
                        label: "",
                        data: [@Model.Item1[0], @Model.Item1[1], @Model.Item1[2], @Model.Item1[3], @Model.Item1[4], @Model.Item1[5], @Model.Item1[6]],
                        backgroundColor: [
                            "rgba(255, 99, 132, 0.2)",
                            "rgba(54, 162, 235, 0.2)",
                            "rgba(255, 206, 86, 0.2)",
                            "rgba(75, 192, 192, 0.2)",
                            "rgba(153, 102, 255, 0.2)",
                            "rgba(255, 159, 64, 0.2)",
                        ],
                        borderColor: [
                            "rgba(255, 99, 132, 1)",
                            "rgba(54, 162, 235, 1)",
                            "rgba(255, 206, 86, 1)",
                            "rgba(75, 192, 192, 1)",
                            "rgba(153, 102, 255, 1)",
                            "rgba(255, 159, 64, 1)",
                        ],
                        tension: 0.2,
                    },
                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                },
                plugins: {
                    legend: { display: false },
                },

            },
        });

        const Radarctx = document.getElementById("radarChart").getContext("2d");
        const radar = new Chart(Radarctx, {
            type: "doughnut",
            data: {
                labels: ["No Halmat", "Test", "Top Speed"],
                datasets: [
                    {
                        label: "",
                        data: [@Model.Item2[0], @Model.Item2[1], @Model.Item2[2]],
                        backgroundColor: [
                            "rgba(255, 99, 132, 0.2)",
                            "rgba(54, 162, 235, 0.2)",
                            "rgba(255, 206, 86, 0.2)",
                            "rgba(75, 192, 192, 0.2)",
                            "rgba(153, 102, 255, 0.2)",
                            "rgba(255, 159, 64, 0.2)",
                        ],
                        borderColor: [
                            "rgba(255, 99, 132, 1)",
                            "rgba(54, 162, 235, 1)",
                            "rgba(255, 206, 86, 1)",
                            "rgba(75, 192, 192, 1)",
                            "rgba(153, 102, 255, 1)",
                            "rgba(255, 159, 64, 1)",
                        ],
                        tension: 0.2,
                    },
                ],
            },
            options: {
                plugins: {
                    legend: { display: true },
                },

            },
        });

    </script>
</main>

